<div class="field">
	<div class="border-field">
		<h1>Edit team</h1>	 
		<%= render 'form' %>
	</div> 
	<%= link_to "Volver", {:controller => :teams, :action =>:index}, {:class =>"btn"} %>
</div>