<div class="field">
    <h1>Listing teams</h1>
    <div class="row">
        <% @team.each do |team| %>
                <div class="medium-4 large-4 columns">
                    <p>
                        <strong>Team name:</strong>
                        <%= team.team_name %>
                    </p>
                    <p>
                        <strong>Description:</strong>
                        <%= team.description %>
                    </p> 
                        <%= link_to 'Show', {:action => :show, :id =>team.id}, :class => "btn" %>

                        <%= link_to 'delete', {:action => :destroy, :id =>team.id}, {:class => "btn", method: :delete,
                          data: { confirm: '¿Are you sure?' } }%> 
                </div>      
                         
        <% end %>
    </div> 
</div>
